{% extends 'base.html' %}
{% load static %}

{% block header %}The Bash Website{% endblock header %}
{% block sub-header %}Ultimate Destination For Motorcycle Accessories{% endblock sub-header %}

{% block content %}
{% if user.is_authenticated %}
{% for motorcycle in user.motorcycles_owned.all %}
{% if motorcycle.products.exists %}
<br><br>
<div class="ui text container">
  <h2>Products for your {{ motorcycle }}</h2>
</div>
<br><br>

<div class="ui link cards">
  {% for product in motorcycle.products.all %}
  <div class="ui card">
    <a class="image" href="{{ product.get_absolute_url }}">
      <img src="{{ product.default_image.src.url }}">
    </a>
    <div class="content">
      <a class="header" href="{{ product.get_absolute_url }}">{{ product }}</a>
      <div class="meta">
        <a>&#x20B9;{{ product.selling_price }} <del> &#x20B9;{{ product.mrp }} </del></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endfor %}
{% endif %}
<br><br><br>
<div class="ui text container">
  <h2>Trending Products</h2>
</div>
<br>
<div class="ui link cards">
  {% for product in trending_products %}
  <div class="ui card">
    <a class="image" href="{{ product.get_absolute_url }}">
      <img src="{{ product.default_image.src.url }}">
    </a>
    <div class="content">
      <a class="header" href="{{ product.get_absolute_url }}">{{ product }}</a>
      <div class="meta">
        <a>&#x20B9;{{ product.selling_price }} <del> &#x20B9;{{ product.mrp }} </del></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}