{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock title %}
{% block header %}Checkout{% endblock header %}

{% block content %}
<br>
<form method="post">{% csrf_token %}
  <div class="ui two column stackable grid container">
    <h1>Enter your shipping address</h1>
  </div>
  <div class="ui two column stackable grid container">
    {% for field in form.visible_fields %}
    <div class="column">
      <div class="ui labeled fluid input">
        <div class="ui label">
          {{ field.label_tag }}
        </div>
        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="ui center aligned grid container">
    <div class="row">
      <input class="ui button" type="submit" value="Proceed to Pay">
    </div>
  </div>
</form>
{% endblock content %}