{% extends 'base.html' %}

{% block title %}Orders{% endblock title %}
{% block header %}<br>Orders<br>{% endblock header %}

{% block content %}
<br>
<div class="ui vertical">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="ui items">
        {% for order in user.orders.all %}
        {% for cart_product in order.cart.products.all %}
        <div class="item">
          <div class="ui small image">
            <img src="{{ cart_product.product.default_image.src.url }}">
          </div>
          <div class="content">
            <div class="header">{{ cart_product.product }}</div>
            <div class="meta">
              <span class="stay">{{ cart_product.quantity }} items</span>
            </div>
            <div class="description">
              <p>Order {{ order.status }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}