{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock title %}
{% block header %}<br>{{ category.name }}<br>{% endblock header %}

{% block content %}
<div class="row">
  {% for product in category.products.all %}
  <div class="ui card">
    <a class="image" href="{{ product.get_absolute_url }}">
      <img src="{{ product.default_image.src.url }}">
    </a>
    <div class="content">
      <a class="header" href="{{ product.get_absolute_url }}">{{ product }}</a>
      <div class="meta">
        <a>&#x20B9;{{ product.selling_price }} <del> &#x20B9;{{ product.mrp }} </del></a>
      </div>
    </div>
  </div>
  {% empty %}
  No products yet
  {% endfor %}
</div>
{% endblock %}